body{
  margin: 0;
  padding: 0;
}
body, html ,#app{
  width: 100%;
  height: 100%;
}

.el-menu-item.is-active {
  background-color: #ecf5ff !important;
}
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-corner{
  display: block;
}
::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
  border-right-color: transparent;
  border-left-color: transparent;
  background-color: rgba(0, 0, 0, 0.1);
}
.el-tree-node__content{
  padding: 7px 0;
}
.el-col-5 {
  max-width:20% !important;
}
